.containerDiv {
  position: relative;
  padding: 12px 0px 0px 0px;
  width: 100%;
}
.input {
  position: relative;
  width: 100%;
  background-color: var(--mainColor0);
  border: 1px solid var(--textColor0);
  border-radius: 3px;
  outline: none;
  color: var(--textColor0);
  padding: 1px 5px;
  font-size: var(--smFontSize);
}

* {
  --labelTop: 18px;
  --onFocusLabelTop: 0px;
  --labelLeft: 3px;
  --onFocusLabelLeft: 0px;
}
.label {
  position: absolute;
  z-index: 1;
  top: var(--labelTop);
  left: 3px;
  font-size: var(--smFontSize);
  pointer-events: none;
  color: var(--textColor0);
}

.input:focus {
  background-color: var(--mainColor0_hover);
  border: 1.5px solid var(--textColor0);
}
.input:focus + .label {
  top: var(--onFocusLabelTop);
  left: var(--labelLeft);
  font-size: var(--xsFontSize);
  animation: onfocus 0.5s both;
}
.input_haveValue + .label {
  top: var(--onFocusLabelTop);
  left: var(--labelLeft);
  font-size: var(--xsFontSize);
}

@keyframes onfocus {
  0% {
    top: var(--labelTop);
    left: var(--labelLeft);
    font-size: var(--smFontSize);
  }
  100% {
    top: var(--onFocusLabelTop);
    left: var(--labelLeft);
    font-size: var(--xsFontSize);
  }
}
